* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
}
h3, h4 {
    padding: 5px 5px;
}
.table-header {
    display: inline-flex;
    width: 100%;
    border: 1px solid #000;
}
.column-1 {
    width: 20%;
    border-right: 1px solid #000;
    text-align: center;
}
.column-2 {
    width: 70%;
    text-align: center;
    border-right: 1px solid #000;
}
.column-3 {
    width: 10%;
    text-align: center;
}
table {
    width: 100%;
    border: 1px solid #000;
}

.th-1 {
    width: 20.15%;
    border-right: 1px solid #000;
}
th {
    border-bottom: 1px solid #000;
}
.th {
    text-align: right;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    
}
tbody {
    align-items: center;
    justify-content: center;
    text-align: center;
}
td {
    border-bottom: 1px solid #000;
}
.first-data {
    border-right: 1px solid #000;
}
